/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@900&display=swap");

/* Shared Styles Start From Here */
* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Merriweather", serif; */
  font-family: "Inter", sans-serif;
}

.container {
  width: 83%;
  max-width: 1320px;
  margin: 0px auto;
}

.content-first-header {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.content-second-header {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 22px;
}
/* Shared Styles End Here */

/* Banner Section Styles Start From Here */
.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 177px 344px;
  margin-top: 50px;
  margin-bottom: 120px;
}
.banner * {
  color: #fff;
  text-align: center;
}
.banner h2 {
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.banner h1 {
  margin-top: 16px;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
/* Banner Section Styles End Here */

/* Discount Section Start From Here */
.discount * {
  text-align: center;
}
.discount h1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.discount .discount-img {
  max-width: 802.9px;
  margin: 26px auto 0;
}
/* Discount Section End Here */

/* Midnight Party section style Start From Here */
.midnight-party {
  margin-top: 120px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.midnight-party .content {
  width: 700px;
}

.midnight-party h1 {
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}

.midnight-party p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}

.midnight-party h4 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Midnight Party section style End Here */

/* Event Schedule Styles Start From Here  */
.event-schedule {
  margin-top: 120px;
  margin-bottom: 120px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  text-align: center;
  padding: 100px 0;
}
.event-schedule h3 {
  color: #070211;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}
.red {
  color: #ff0000;
}
.btn-join {
  margin-top: 28px;
  padding: 16px 32px;
  border-radius: 8px;
  background-color: #f00;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
/* Event Schedule Styles End Here  */

/* Coming Soon Section Styles Start From Here  */
.coming-soon {
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coming-soon p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.coming-soon .left-column {
  max-width: 393px;
}

.coming-soon .left-column h1 {
  font-family: Merriweather;
}

.coming-soon .middle-column {
  border-radius: 463px;
  border: 15px solid #f00;
}

.coming-soon .middle-column img {
  width: 364.844px;
  height: 364.844px;
  padding: 49.08px;
}

.coming-soon .right-column {
  max-width: 276px;
}
.coming-soon .right-column h1 {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.coming-soon .right-column img {
  width: 140px;
  height: 140px;
  margin-top: 20px;
}

/* Coming Soon Section Styles End Here  */

/* Portfolio Section Styles Start From Here */
.portfolio {
  margin-bottom: 120px;
}
.portfolio h1 {
  font-family: Merriweather;
}
.portfolio p {
  max-width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.portfolio .img-display {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio .img-display img:hover {
  scale: 1.2;
  transition: 1s;
}
/* Portfolio Section Styles Start End Here */

/* Newsletter Section Styles Start From Here */
.news-letter {
  margin-bottom: 120px;
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.05);
  height: 620px;
  text-align: center;
}

.news-letter img {
  width: 150px;
  height: 150px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.news-letter h1 {
  font-family: Merriweather;
}
.news-letter p {
  max-width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 auto 48px;
}
#user-info {
  padding-left: 30px;
  width: 438px;
  height: 72px;
  border-radius: 50px 0px 0px 50px;
  border: none;
  background: #fff;
  color: rgba(7, 2, 17, 0.3);
  font-size: 18px;
  font-weight: 400;
}
.subscribe {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background-color: #f00;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
/* Newsletter Section Styles End Here */

/* Footer Section Styles Start From Here  */
footer {
  background-color: #070211;
  color: #fff;
  padding: 120px 0;
}
footer p {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}
footer span {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}
.footer-first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer-first-section .phone,
.website {
  display: flex;
  align-items: center;
}

.footer-first-section img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.footer-second-section {
  margin: 48px auto;
  text-align: center;
}

.footer-second-section img {
  width: 64px;
  height: 64px;
  margin-right: 24px;
}

.footer-third-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
/* Footer Section Styles End Here  */
